@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --color-navy: #0F1E3D;
  --color-navyLight: #162E66;
  --color-gold: #FFC300;
  --color-goldDark: #FF8A00;
  --color-lightBg: #F6F7FB;
  --color-success: #00D27A;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: 'Manrope', sans-serif;
  background: #F6F7FB;
  color: #0F1E3D;
}